.accueil{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 13%;
    width: 100%;
    height: 87%;
    overflow: auto;
    gap: 15px;
}

.s_round-one{
    position: absolute;
    border-radius: 50%;
    top: -185px;
    background: rgba(255,255,255,.05);
    width: 280px;
    height: 280px;
    left: -8%;
  }
  
  .s_round-two{
    position: absolute;
    border-radius: 50%;
    top: -200px;
    background: rgba(255,255,255,.05);
    width: 500px;
    height: 500px;
    left: -430px;
  }

.img-shap{
    position: absolute;
    right: 0;
    bottom: 0;
  }

.desc-imgDesc{
    display: flex;
    padding: 40px 40px 22px 40px;
    height: 100%;
    background-image: linear-gradient(60deg,#182240 0%,#07112d 100%);
}

.le-bon-coin{
    font-size: 50px;
    line-height: 64px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 18px;
}

.la-plateforme{
    font-size: 20px;
    color: white;
}

.advant-text{
    margin: 20px 0 20px 60px;
    font-size: 20px;
    color: #fff;
}

.boutique{
    display: flex;
    gap: 3rem;
}

.create-boutique{
    display: flex;
    align-items: center;
    padding: 20px;
    width: 220px;
    height: 25px;
    border: 1px solid orange;
    font-size: 20px;
    color: orange;
}

.visit-boutique{
    display: flex;
    align-items: center;
    padding: 20px;
    width: 220px;
    height: 25px;
    background-color: orange;
    font-size: 20px;
    color: white;
}

.create-img{
    font-size: 30px;
}


.image-desc img{
    max-width: 100%;
}

.raison-op{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-h1{
    font-family: poppins,sans-serif;
    line-height: 30px;
    font-size: 30px;
    color: #051441;
    font-weight: 500;
    margin-bottom: 0.5rem!important;
    margin-top: 10px;
}

.text-explain{
    display: block;
    text-align: center;
    padding: 0 380px;
    color: #0f1111;
}

.pub{
    display: flex;
    gap: 1rem;
    margin: 40px;
    padding: 0 0 40px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.image-pub{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.title-pub{
    margin: 25px 0 20px;
    margin-bottom: 0.5rem!important;
    color: #051441;
    font-weight: 600;
    font-family: poppins,sans-serif;
    font-size: 20px;
}

.image-pub p{
    margin: 0!important;
    font-weight: 400;
    font-size: 15px;
    color: #0f1111;
    text-align: center;
}

.A-propos{
    display: flex;
    margin: 0px 40px 0px 40px ;
    padding-bottom: 40px;
    gap: 3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.a-propos-text{
    display: flex;
    flex-direction: column;
}

.apropos-title{
    line-height: 55px;
    font-weight: 600;
    color: #2c2c51;
    margin-bottom: 0.5rem!important;
    font-size: 34px;
}

.propos-text{
    font-weight: 400;
}

.advant-text-black{
    margin: 10px 0 5px 20px;
    color: #000000;
}

.just{
    color: orange;
    font-size: 15px;
}

.mb_5{
    margin-bottom: 10px;
}

.i-frame{
    width: 50%;
}

.i-frame iframe{
    height: 100%;
}

.specificite-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 300px;
}

.boutiq{
    display: flex;
    margin: 50px 40px 0px 40px ;
    gap: 5rem;
}

.gp_1rem{
    gap: 0;
}

.boutiq-text{
    display: flex;
    flex-direction: column;
}

.boutiq-img{
    position: relative;
}

.boutiq-img img{
    width: 90%;
    height: 90%;
    border-radius: 10px;
}

.pulse{
    display: flex;
    position: absolute;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    top: -26px;
    left: -26px;
    background-color: orange;
    align-items: center;
    justify-content: center;
    color: white;
}

.pulse:after, .pulse:before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: orange;
    border-radius: 50%;
    opacity: 0.4;
}

.pulse:before{
    animation: pulse 2s ease-out infinite;
}

.pulse:after{
    animation: pulse 2s 1s ease-out infinite;
}

.pulse_blue{
    display: flex;
    position: absolute;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    top: -26px;
    left: -26px;
    background-color: #1890ff;
    align-items: center;
    justify-content: center;
    color: white;
}

.pulse_blue:after, .pulse_blue:before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #1890ff;
    border-radius: 50%;
    opacity: 0.4;
}

.pulse_blue:before{
    animation: pulse 2s ease-out infinite;
}

.pulse_blue:after{
    animation: pulse 2s 1s ease-out infinite;
}

@keyframes pulse{
    100%{
        transform: scale(2);
        opacity: 0;
    }
}